.menu ul li a {
    color: blue; /* Warna teks */
}

.home-box h3 {
    color: rgb(228, 18, 25); /* Ubah warna teks */
}

/* Style for navigation */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
}

.logo h3 {
    color: #fff;
    margin: 0;
    font-size: 24px;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    display: inline;
}

.menu ul li a {
    color: #fff;
    text-decoration: none;
    padding: 8px 8px;
    transition: background-color 0.3s ease;
    border-radius: 20px; /* Menjadikan bentuk tabung */
}

.menu ul li a:hover {
    background-color: #ed152e;
}

/* Style for bars and close icons */
.bar,
.close {
    display: none;
}

@media screen and (max-width: 768px) {
    .bars {
        display: block;
    }

    .menu {
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #333;
        width: 100%;
    }

    .menu.active {
        display: block;
    }

    .menu ul {
        display: block;
        text-align: center;
    }

    .menu ul li {
        display: block;
        margin-bottom: 10px;
    }

    .bar,
    .close {
        display: block;
        cursor: pointer;
    }
}


.team .container {
    text-align: center;
    padding: 20px;
}

.team .label {
    font-size: 18px;
    color: #555;
}



.team .sub-heading {
    font-size: 24px;
    color: #777;
    margin-bottom: 10px;
}

/* CSS Animation */
/* Menggunakan animasi untuk membuat teks bergerak */
@keyframes moveTextUpDown {
    0% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0); }
}

.team .heading {
    font-size: 32px;
    color: #eb0e0e;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
    animation: moveTextUpDown 2s infinite alternate; /* Teks akan bergerak ke atas dan bawah selama 2 detik */
}


.clock-container {
    display: flex; /* Gunakan flexbox */
    justify-content: center; /* Pusatkan secara horizontal */
    align-items: center; /* Pusatkan secara vertikal */
    height: 10vh; /* Setel tinggi kontainer ke tinggi viewport penuh */
}

.digital-clock {
    font-size: 30px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif; /* Menggunakan font yang lebih futuristik */
    transition: color 0.5s ease; /* Tambahkan transisi untuk perubahan warna yang halus */
    text-shadow: 0 0 10px rgba(0, 255, 255, 0.8); /* Tambahkan efek bayangan */
    transform: scale(1.2); /* Skala ukuran jam */
}


/*table*/
.student-table {
    border-collapse: collapse;
    width: 100%;
}

.student-table th, .student-table td {
    border: 1px solid #a90b0b;
    padding: 8px;
    text-align: left;
}

.student-table th {
    background-color: #be7f7f;
}

.image-cylinder {
    border-radius: 20%;
}




.student-table td {
    height: 120px; /* Ubah tinggi baris sesuai kebutuhan */
}

.student-table th:nth-child(1),
.student-table td:nth-child(1) {
    width: 3%; /* Ubah lebar kolom No. */
}

.student-table th:nth-child(2),
.student-table td:nth-child(2) {
    width: 10%; /* Ubah lebar kolom Foto */
}

.student-table th:nth-child(3),
.student-table td:nth-child(3) {
    width: 20%; /* Ubah lebar kolom nama */
}

.student-table th:nth-child(4),
.student-table td:nth-child(4) {
    width: 7%; /* Ubah lebar kolom kelas */
}



    @keyframes moveHeader {
        0% { transform: translateY(0); }
        50% { transform: translateY(-10px); }
        100% { transform: translateY(0); }
    }

    .new-session .heading {
        animation: moveHeader 2s infinite; /* Ubah angka 2s menjadi durasi yang diinginkan */
    }



    @keyframes moveText {
        0% { transform: translateX(0); }
        50% { transform: translateX(20px); }
        100% { transform: translateX(0); }
    }
    
    .featured .label {
        animation: moveText 2s infinite; /* Menggerakkan teks label secara horizontal */
    }
    
    .featured .heading {
        animation: moveText 2s infinite alternate; /* Menggerakkan teks heading secara horizontal dengan perubahan arah */
    }

    
    .article .label {
        animation: moveText 2s infinite; /* Menggerakkan teks label secara horizontal */
    }
    .article .heading {
        animation: moveText 2s infinite alternate;
    }


    


